#school{
    color: orange;
}
#about{
    color:   skyblue;
}
#facili{
    color: #05d4df;
}
#admi{
    color: #5D58EF;
}
#but{
    background-color: orange;
     color: white;
    border-radius: 5px;
    margin-bottom: 20px
    
}
.ul{
justify-items: ;
display: flex;
justify-content: space-between;
list-style: none;
}
.name{
font-size: 40px;
font-weight: bold;
margin-left: 300px;
}
.span{
    color: orange;
}
.span1{
    color: rgb(10, 171, 235);
}
.btn{
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 300px;
}
.display-flex{
    display: flex;

}
.br{
    color: black;
}
.main{
    margin-left: 300px;   
}
#stan{
    margin-left: 600px;
    font-weight: bold;
    font-size: 40px;
    
}
#more{
    margin-left: 100px;
}
#mo{
    color: ;
}
#mor{
    color: orange;
}
.story{
    font-size: 40px;
    font-weight: bold;
    margin-left: 600px;
}
#story1{
    font-weight: bold;
    font-size: 25px;
}
.border{
    border-radius: 12px;
}
#date{
    border-radius: 15px;
    background-color: rgb(2, 174, 241);
    color: white;
}

.store{
    font-weight: bold;
    font-size: 20px;
}
.color{
    font-size: 25px;
    font-weight: bold;
    color: white;
    
}
.ul1{
    list-style: none;
}
.footer{
    background-color: #01ACFD;
    color: white;
    margin-left: 300px;
}